@import "../../sass/mixins";
@import "../../sass/variables";
@import "../../sass/animations";

.ReportsMirror {
	width: auto;
	height: auto;

	&_mirror {
		width: 100%;
		height: 100%;
		border: none;
	}

	&_empty {
		display: block;
		margin: 6rem auto;
		width: 60%;
		height: 40%;
		@include col_center_all;
		border-radius: 0.5rem;

		&_heading {
			width: 100%;
			height: auto;
			font-size: 1.5rem;
			color: map-get($map: $colors, $key: "altYellow");
			text-align: center;
		}

		&_icon {
			width: 4rem;
			height: 4rem;
			fill: map-get($map: $colors, $key: "altYellow");
		}
	}
}
