@import "../../sass/variables";
@import "../../sass/mixins";

.DateRangeDay {
	width: 4rem;
	height: 4rem;
	padding: 0.6rem;
	border-radius: 50%;
	font-family: map-get($map: $fonts, $key: "tertiarySans");
	&:hover {
		border: 1px solid map-get($map: $flatColors, $key: "main");
		cursor: pointer;
	}

	&_entry {
		@include fill_container;
		@include row_center_all;
		font-size: 1.2rem;
		font-weight: 400;
	}
	&_isToday {
		@extend .DateRangeDay;
		background-color: map-get($map: $flatColors, $key: "main");
		border-radius: 50%;
		color: #ffffff;
	}
	&_isSelected {
		@extend .DateRangeDay;
		border: 1px solid map-get($map: $colors, $key: "mainBlue");
		background-color: map-get($map: $flatColors, $key: "mainBlue");
	}
	&_inRange {
		@extend .DateRangeDay;
		background-color: map-get($map: $colors, $key: "mainGrey");
		opacity: 0.6;
	}
}
