@import "../../sass/variables";
@import "../../sass/mixins";

.DatePickerCalendarSM {
	width: 25rem;
	max-height: 30rem;
	height: auto;
	background-color: #ffffff;
	border-radius: 0.5rem;
	padding: 1rem;
	box-shadow: map-get($map: $shadows, $key: "subtle");

	&_focusMode {
		@extend .DatePickerCalendarSM;
		@include focusMode;
		margin-left: -12.5rem;
		margin-top: -15rem;
	}

	&_controls {
		width: 100%;
		height: -webkit-max-content;
		height: -moz-max-content;
		height: max-content;
		padding: 0.5rem 0.3rem;
		@include row_between_center;
		margin-bottom: 1rem;

		&_heading {
			font-size: 1.5rem;
			font-weight: 500;
			color: map-get($map: $colors, $key: "mainBlackBlue");

			& > b {
				font-weight: 500;
				color: map-get($map: $blueGreys, $key: "subheadings");
			}
		}
		&_arrows {
			width: -webkit-max-content;
			width: -moz-max-content;
			width: max-content;
			height: 100%;
			@include row_evenly_center;

			&_chevron {
				width: 2rem;
				height: 2rem;
				&:hover {
					cursor: pointer;
					fill: map-get($map: $colors, $key: "main");
				}
				&:nth-child(1) {
					margin-right: 0.5rem;
				}
			}
		}
	}
	&_weekDays {
		width: 100%;
		display: grid;
		grid-template-columns: repeat((auto-fit, calc(100% / 7)));
		justify-items: center;
		margin-bottom: 1rem;
		& > span {
			font-size: 1rem;
			color: map-get($map: $blueGreys, $key: "subheadings");
		}
	}

	&_calendar {
		width: 100%;
		height: 18rem;
		@include calendar;
		justify-items: center;
		grid-gap: 0.3rem 0;
		margin-bottom: 1rem;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	&_today {
		width: 100%;
		height: 2rem;
		padding: 0.3rem 0;
		@include row_center_all;

		&_btn {
			border: none;
			outline: none;
			font-size: 1.4rem;
			font-weight: 500;
			letter-spacing: 0.2rem;
			color: map-get($map: $colors, $key: "main");
			&:hover {
				cursor: pointer;
				color: map-get($map: $colors, $key: "mainBlue");
			}
		}
	}
}
