@import "../../sass/variables";
@import "../../sass/mixins";

.StatusBadge {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
}
