@import "../../sass/variables";
@import "../../sass/mixins";

.PrintPortal {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	border: none;
	border-radius: 0.5rem;
	background-color: #ffffff;

	&_iframe {
		width: auto;
		height: auto;
		border: none;
		border-radius: 0.5rem;
		background-color: #ffffff;
		font-family: map-get($map: $fonts, $key: "mainSans");
	}
}
